.container {
  height: calc(100vh - 52px);
  margin: 52px 10% 0;
}

@media (max-width: 1200px) {
  .container {
    margin: 52px 5% 0;
  }
}

@media (max-width: 900px) {
  .container {
    margin: 52px 2% 0;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 22px 0 0;
  }
}
