/* Variables */

* {
  --title-font: "Courier Prime", monospace;
  --text-font: "Roboto", sans-serif;

  --color-text: rgb(36, 31, 31);
  --color-body-bg: whitesmoke;
  --color-nav-item: rgb(26, 91, 212);
  --color-form-btn-bg: rgb(212, 184, 71);
  --color-form-btn-bg-hover: rgb(243, 214, 96);
  --color-form-alert: rgb(235, 64, 34);
}

/* Fonts */
a,
h1,
h2,
h3,
h4 {
  font-family: var(--title-font);
}

body {
  font-family: var(--text-font);
}

/* Colors */
body {
  color: var(--color-text);
  background-color: var(--color-body-bg);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class] {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: calc(100vh - 52px);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
