.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 300px;
  min-height: 200px;
  padding: 1.2rem;
  border: 1px solid darkgray;
  border-radius: var(--border-radius);
  background-color: var(--color-note-bg);
}

.note-title {
  text-align: center;
  margin-bottom: 1rem;
}

.note-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.note-btn {
  padding: 0;
  border: none;
  background-color: var(--color-note-bg);
  cursor: pointer;
}

.note-btn-edit {
  color: var(--color-note-edit-btn);
}

.note-btn-delete {
  color: var(--color-note-delete-btn);
}

@media (max-width: 800px) {
  .note {
    padding: 0.7rem;
  }
}

@media (max-width: 600px) {
  .note {
    padding: 0.5rem;
    border: none;
    border-top: 1px solid darkgray;
  }
  .note:last-child {
    border-bottom: 1px solid darkgray;
  }
  .note-actions {
    justify-content: space-around;
  }
}
