.notes-list {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin: 6rem 0 2rem;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
}
