.modal-overlay {
  position: fixed;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-modal-overlay);
  z-index: 100;
}

.modal-window {
  width: 600px;
  padding: 2rem 3rem;
  background-color: var(--color-body-bg);
}

.modal-title {
  text-align: center;
  margin-bottom: 1.1rem;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-group {
  display: flex;
  flex-direction: column;
}

.modal-actions {
  display: flex;
  justify-content: center;
}

.save-btn {
  width: 80px;
}

.cancel-btn {
  width: 80px;
  margin-top: 1.4rem;
  margin-left: 4rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-cancel-btn-bg);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.cancel-btn:hover {
  color: #fff;
  background-color: var(--color-cancel-btn-bg-hover);
}
@media (max-width: 700px) {
  .modal-window {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .modal-overlay {
    place-items: stretch;
  }
  .modal-window {
    width: 100%;
    font-size: 0.8rem;
    padding: 1rem 1rem;
  }
  .modal-window {
    background-color: var(--color-body-bg);
  }
}
