.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.7rem 0;
  background-color: var(--color-body-bg);
  /* background-color: rgba(141, 140, 140, 0.1); */
}

.nav-title {
  margin-left: 2rem;
}

.nav-items {
  display: flex;
}

.nav-item {
  font-family: var(--title-font);
  margin-right: 2rem;
  text-decoration: none;
  color: var(--color-nav-item);
  cursor: pointer;
}
