.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0.7rem 0;
  background-color: var(--color-body-bg);
}

.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  margin-left: 2rem;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-item {
  font-family: var(--title-font);
  margin-right: 2rem;
  text-decoration: none;
  color: var(--color-nav-item);
  cursor: pointer;
}

.nav-search {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.nav-search-input {
  flex-basis: 500px;
  border: none;
  border-bottom: 1px solid var(--color-text);
  margin-right: 1rem;
  background-color: inherit;
}

.nav-search-button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .nav-title {
    margin-left: 1.5rem;
  }
  .nav-item {
    margin-right: 1.5rem;
  }
}

@media (max-width: 900px) {
  .nav-title {
    margin-left: 1rem;
  }
  .nav-item {
    margin-right: 1rem;
  }
}

@media (max-width: 600px) {
  .navbar-main {
    padding-top: 0.5rem;
  }
  .nav-title {
    font-size: 0.9rem;
    margin-left: 0.7rem;
  }
  .nav-item {
    font-size: 0.9rem;
    margin-left: 0.7rem;
  }
  .nav-search {
    margin: 0 0.5rem;
  }
  .nav-search-input {
    margin-right: 0.5rem;
  }
}
